@import url("https://empy.org/css/noise.css");
@import url("https://empy.org/css/main.css");

body {
    background: #FFF;
}

nav * {
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}

#searchbar {
    padding-top: 8px;
}

.breadcrumb {
    border-radius: 0;
}

#results label {
    margin-bottom: unset;
    font-weight: unset;
}

#wiki-body > .markdown-body {
    padding-top:0;
}

#wiki-sidebar {
    padding: 5px;
    margin-bottom: 20px;
}

#sidebar-content {
    padding: 0;
}

#sidebar-content ul {
    margin: 0;
    padding-left: 20px;
}

.markdown-body a.anchor {
    position: relative;
    top:-52px;
}

.markdown-body h1:hover a.anchor, 
.markdown-body h2:hover a.anchor, 
.markdown-body h3:hover a.anchor, 
.markdown-body h4:hover a.anchor, 
.markdown-body h5:hover a.anchor, 
.markdown-body h6:hover a.anchor {
    position: absolute;
    top: -2px;
}

p {
    text-align: left
}

img {
    padding-top: 10px;
}

#footer p#last-edit {
    margin-bottom: 2px;
}

#footer-links {
    float:right;
    font-size: 1.1em;
}

#footer > a {
    float:right;
}
