@import url("https://empy.org/css/noise.css");
@import url("https://empy.org/css/main.css");

body {
    background: #FFF;
}

nav * {
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}

#searchbar {
    padding-top: 8px;
}

.breadcrumb {
    border-radius: 0;
}

#results label {
    margin-bottom: unset;
    font-weight: unset;
}

#wiki-body > .markdown-body {
    padding-top:0;
}

#wiki-sidebar {
    padding: 5px;
    margin-bottom: 20px;
}

#sidebar-content {
    padding: 0;
}

#sidebar-content ul {
    margin: 0;
    padding-left: 20px;
}

p {
    text-align: left
}

#footer-links {
    float:right;
    font-size: 1.1em;
}
